<?xml version="1.0" encoding="UTF-8" ?>
<!-- 3D Avatars, Pierre Walch -->

<avatarsConfig>

    <graphics>
        <window console="false" width="800" height="600" font="guiFont.png" colorA="255" colorR="196" colorG="194" colorB="199" />
    </graphics>
    
    <input>
        <tracking frameNumber="1500" frameRate="60" current="0" players="tracking_players_smooth.txt" ball="tracking_ball_smooth.txt" jerseys="jersey.id" />

        <teams redNormal="3" blueNormal="2" redSpecial="11" blueSpecial="5" />
        
        <transformation scaleX="-0,03978" scaleY="0,04" scaleZ="0,04080"
                        offsetX="1148" offsetY="0" offsetZ="-57,46" />

        <transformationPlayers offsetX="1148" offsetY="-57,46" scaleX="-0,03978" scaleY="0,04080" />
        <transformationBall offsetX="1000" offsetY="100" offsetZ="0" scaleX="-40" scaleY="40" scaleZ="40" />
    </input>

    <output>
        <video name="3DAvatars.avi" start="600" end="900" />
    </output>

    <camera>
        <options speed="20" fov="1,26" />
        <position x="15200" y="4550" z="18700" />
        <rotation x="30" y="180" z="0" />
    </camera>

    <avatars>
    	<scene irrscene="scene.irr" scale="1" />

        <actions>
            <stand begin="0" end="0" />
            <walk begin="0" end="15" threshold="0,2" />
            <run begin="16" end="33" threshold="1,7" />
        </actions>

        <players framerate="15" model="athlete.x" scale="0,04"
            textureSizeX="2048" textureSizeY="2048" >
            <redNormal texture="athleteBrazilNormal.png" />
            <blueNormal texture="athleteRussiaNormal.png" />
            <redSpecial texture="athleteBrazilSpecial.png" />
            <blueSpecial texture="athleteRussiaSpecial.png" />
        </players>

        <jerseys font="jerseyFont.xml"
            rectLeft="1138" rectTop="947"
            rectRight="1520" rectBottom="1365"
            colorA="255" colorR="48" colorG="144" colorB="255" />

        <ball model="ball.obj" texture="none" scale="0,8" />

        <trajectories samples="200" colorA="255" colorR="229" colorG="255" colorB="0" />
    </avatars>

</avatarsConfig>
