<?xml version="1.0" encoding="UTF-8" ?>
<!-- 3D Avatars, Pierre Walch -->

<avatarsConfig>

    <graphics>
        <window console="false" width="800" height="600" font="guiFont.png" colorA="255" colorR="0" colorG="0" colorB="0" />
    </graphics>
    
    <input>
        <tracking frameNumber="1500" frameRate="60" current="700" players="tracking_players_smooth.txt" ball="tracking_ball_smooth.txt" jerseys="jersey.id" />
        <teams redNormal="3" blueNormal="2" redSpecial="11" blueSpecial="5" />
        
        <transformation scaleX="-0,03978" scaleY="0,04080" scaleZ="0,04"
                        offsetX="1148" offsetY="-57,46" offsetZ="0" />
    </input>

    <output>
        <video name="3DAvatars.avi" start="600" end="900" />
    </output>

    <camera speed="20" file="tracking_camera.txt" fov="1,02" />
    <!-- fov = 2*arctan(h / (2*f)) where h is the film gauge of the camera in millimeters (most used is 35 mm, corresponding to FOV = 0.69 rad). Our
    camera has sensor size 4.86*3.62 mm, which leads to horizontal FOV = 1.02 rad -->
    <!-- top-left corner of court (6100, 4300) -->
    <!-- cam0 pos x="-13930" y="5210" z="5530" x="10,00" y="270,00" z="0,00" -->
    <!-- cam1 pos x="37900"  y="5170"  z="5690" rot x="10,00" y="90,00" z="0,00" -->
    <!-- cam2 pos x="11960"  y="21290" z="5780" rot x="30,00" y="180,00" z="0,00" -->

    <avatars>
    	<scene irrscene="volleyball.irr" scale="1" />

        <actions>
            <stand begin="0" end="0" />
            <walk begin="0" end="15" threshold="250" />
            <run begin="16" end="33" threshold="1800" />
        </actions>

        <players framerate="15" model="athlete.x" scale="0,04"
            textureSizeX="2048" textureSizeY="2048" >
            <redNormal texture="athleteBrazilNormal.png" />
            <blueNormal texture="athleteRussiaNormal.png" />
            <redSpecial texture="athleteBrazilSpecial.png" />
            <blueSpecial texture="athleteRussiaSpecial.png" />
        </players>

        <jerseys font="jerseyFont.xml"
            rectLeft="1138" rectTop="947"
            rectRight="1520" rectBottom="1365"
            colorA="255" colorR="48" colorG="144" colorB="255" />

        <ball model="ball.obj" texture="none" scale="0,8" />

        <trajectories colorA="255" colorR="229" colorG="255" colorB="0" />
    </avatars>

</avatarsConfig>
